.container {
  width: 75%;
  margin: 0 auto;
  background-color: #97BC62;
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dartsValueButton-container {
  display: grid;
  grid-template-columns: repeat(4, auto); /* Adjusted to fit content */
  gap: 10px; /* Space between buttons */
  padding: 10px;
  justify-content: center; /* Center the grid horizontally */
}
.dartsValueButton {
  background-color: #2C5F2D; /* Green background */
  border: none; /* Remove border */
  border-radius: 4px;
  color: white; /* White text */
  padding: 25px 25px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: block; /* Block display to fill grid cell */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition:
    background-color 0.3s,
    transform 0.3s; /* Smooth transition */
}

.dartsValueButton:hover {
  background-color: #306633; /* Darker green on hover */
  transform: scale(1.15); /* Slightly enlarge button on hover */
}

.dartsValueButton:active {
  background-color: #2C5F2D; /* Even darker green when clicked */
  transform: scale(1.05); /* Slightly reduce the scale when clicked */
}

.dartsFlexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.dartsStartMenuSelectMenu {
  background-color: #2C5F2D; /* Blue background */
  border: none; /* Remove border */
  border-radius: 4px;
  color: white; /* White text */
  padding: 6px 6px; /* Padding */
  margin: 6px 6px;
  text-align: center; /* Center text */
  display: block; /* Block display to fill grid cell */
  font-size: 16px; /* Font size */
  font-weight: bold;
  cursor: pointer; /* Pointer cursor on hover */
}

.dartsPlayButton {
  background-color: #2C5F2D;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 10px 35px;
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 10px;
}


.dartsPlayers button {
  background-color: #2C5F2D;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
}

.dartsPlayers input {

}